{% extends 'base.html.twig' %}

{% block title %}Flaro --Webapp
{% endblock %}

{% block body %}

	<div class="nav">
		{{ include('components/nav.html.twig') }}
	</div>

    <div class="hero-discover">
		{{ include('components/hero-discover.html.twig') }}
	</div>
    <div class="header-image">
		{{ include('components/header-image.html.twig') }}
	</div>
    <div class="middle">
		{{ include('components/middle.html.twig') }}
	</div>
    <div class="join">
		{{ include('components/join.html.twig') }}
	</div>
    <div class="testimonial">
		{{ include('components/testimonials.html.twig') }}
	</div>


	<div class="footer">
		{{ include('components/footer.html.twig') }}
	</div>

{% endblock %}
